.THIS .accounts_card {
	width:39%;
	margin: 0 1% 0 0;
}

.THIS .route_generator_card {
	width: 60%;
	margin: 0;
}

.THIS .account_tile {
	display: block;
	width: 96%;
	height: 40px;
	margin: 1% 2%;
	border: 2px solid rgb(120, 150, 120);
	border-radius: .25rem;
}